@use "variables";

.post {
  padding: 2rem 0;

  &-info {
    color: variables.$default-shade;
    font-family: variables.$serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0 0 0.5rem;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: variables.$default-shade;
    font-family: variables.$sans-serif;
    font-size: 3rem;
    margin: 1rem 0 0.5rem;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid variables.$default-shade;
    display: block;
    margin: 1rem auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  .video-container,
  .img-container,
  .audio-container {
    text-align: center;
    margin: 0 auto 0.5rem;

    br {
      display: none;
    }
  }

  .video-container>video {
    max-width: 100%;
  }

  img,
  video,
  audio {
    margin: 0 auto 0;
    object-fit: contain;
  }

  img,
  video {
    border-radius: 5px;
    height: auto;
  }

  img~em,
  video~em,
  audio~em {
    color: variables.$default-shade;
    display: block;
    font-family: variables.$sans-serif;
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  .image-click {
    display: inline-block;
    text-decoration: none;
  }

  hr {
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
}
