<footer>
  <span class="copyright">
    {%- if config.extra.footer -%}
    © 2026 {{ config.extra.author | default(value="SKM GEEK")}}. {{ config.extra.footer.info |
    default(value='Powered by Zola and Matwoya.') | safe }}
    {%- else -%}
    © 2026 SKM GEEK. Powered by <a href="https://www.getzola.org"><u>Zola</u></a> and <a
      href="https://github.com/QEStudios/matwoya">Matwoya</a>.
    {%- endif -%}
  </span>

  <nav class="navigation-footer">
    <ul>
      <li><a href="https://github.com/QEStudios/matwoya">Source Code</a></li>
      <li><a href="https://skmgeek.com">Main Website</a></li>
      <li><a href="https://github.com/QEStudios">GitHub</a></li>
      <li><a href="https://discord.com/users/665717220130816049">Discord</a></li>
      <li><a href="https://youtube.com/skmgeek">Youtube</a></li>
    </ul>
  </nav>
</footer>