<footer>
  <span class="copyright">
    {%- if config.extra.footer -%}
    {{ config.extra.copyright | default(value="© 2026")}} {{ config.extra.author | default(value="SKM GEEK")}}.
    {{ config.extra.footer.info |
    default(value='Powered by Zola and Matwoya.') | safe }}
    {%- else -%}
    © 2026 SKM GEEK. Powered by <a href="https://www.getzola.org"><u>Zola</u></a> and <a
      href="https://github.com/QEStudios/matwoya">Matwoya</a>.
    {%- endif -%}
  </span>

  <nav class="navigation-footer">
    <ul>
      {% if config.extra.footer.menu %}
      {% for menu in config.extra.footer.menu %}
      <li><a href="{{ menu.url | safe }}">{{ menu.name }}</a></li>
      {% endfor %} {% else %}
      <li><a href="https://github.com/QEStudios/matwoya">Source Code</a></li>
      <li><a href="https://github.com/QEStudios">GitHub</a></li>
      <li><a href="https://skmgeek.com">Website</a></li>
      {% endif %}
    </ul>
  </nav>

  <script>
    // Just a small helper script to format the dates and times in the user's local timezone :)
    document.querySelectorAll("time[datetime]").forEach(el => {
      const d = new Date(el.dateTime);

      const year = d.getFullYear();
      const month = String(d.getMonth() + 1).padStart(2, "0");
      const day = String(d.getDate()).padStart(2, "0");
      const hour = String(d.getHours()).padStart(2, "0");
      const minute = String(d.getMinutes()).padStart(2, "0");

      const date_part = `${year}-${month}-${day}`;
      const time_part = `${hour}:${minute}`;

      if (el.classList.contains("date-only")) {
        // Timestamp that only contains a date in YYYY-MM-DD format.
        el.textContent = `${date_part}`;
      } else if (el.classList.contains("time-only")) {
        // Timestamp that only contains a time in HH-MM format.
        el.textContent = `${time_part}`;
      } else {
        // Timestamp that contains both a date and time in YYYY-MM-DD HH:MM format.
        el.textContent = `${date_part} ${time_part}`;
      }
    });
  </script>
</footer>