{% extends "base.html"%}

{% block head %}
{% set t = page.title ~ " (" ~ page.date ~ ") | " ~
config.title %}
{% include "partials/head.html" %}
{% endblock %}

{% block content %}
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <section class="post-info">
    {% if page.extra.author -%}
    <span>Written by</span> {{ page.extra.author }} <span>on&nbsp;</span>
    {% elif config.extra.author -%}
    <span>Written on&nbsp;</span>
    {%- endif %}
    <time datetime="{{ page.date }}" class="date-only">{{ page.date |
      date(format=config.extra.timeformat |
      default(value="%B
      %e, %Y"))}}</time>
    <span>, at&nbsp;</span>
    <time datetime="{{ page.date }}" class="time-only">{{ page.date |
      date(format="%H:%M")}}</time>
    <span>
      (<a href="{{ page.permalink | safe }}">Permalink</a>)
    </span>
    {% if page.updated -%}
    <br>
    <span>Last updated on&nbsp;</span>
    <time datetime="{{ page.updated }}" class="date-only">{{ page.updated |
      date(format=config.extra.timeformat |
      default(value="%B
      %e, %Y"))}}</time>
    <span>, at&nbsp;</span>
    <time datetime="{{ page.updated }}" class="time-only">{{ page.updated |
      date(format="%H:%M")}}</time>
    {%- endif %}
  </section>
  <section class="tags">
    <section class="tags-clouds">
      {% for tag in page.taxonomies.tags | sort %}
      {% set tag_url = get_taxonomy_url(kind="tags", name=tag) %}
      <a href="{{ tag_url }}">#{{tag}}</a>
      {% endfor %}
    </section>
  </section>
  <section class="post-line"></section>
  {{ page.content | safe }}
</article>

<section class="pagination">
  {% if page.higher -%}
  <a href="{{ page.higher.permalink | safe }}" class="left arrow">&#8592;</a>
  {%- endif %}
  {% include "partials/back-to-top.html" %}
  {% if page.lower -%}
  <a href="{{ page.lower.permalink | safe }}" class="right arrow">&#8594;</a>
  {%- endif %}
</section>
{% endblock content %}